HELP.md
target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
!**/src/main/**/build/
!**/src/test/**/build/

### VS Code ###
.vscode/
**run_local.sh
**deploy*.sh
**build*.sh

# System stuff
.settings
target/
.classpath
.project
.pmd
.pmdruleset.xml
Thumbs.db
microservice.pid
DONE
.DS_Store
**.log*
**.txt*
**local.sh*
**.env*
**mvn*

**elasticsearch.properties
**default.properties
**api.properties
**/reportTest/*
**/src/main/java/META-INF/*
**/src/main/java/net/*
**/src/main/java/org/*

**.pdf
**.png
**.psd

ignore/

ddex-mwn13/